[project]
	description = Grails plugin that adds possibility to force in browser downloading of controller's response 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Predrag Knežević (pedjak)
[access "refs/for/refs/*"]
	read = group user/Predrag Knežević (pedjak)
	push = group user/Predrag Knežević (pedjak)
	label-Code-Review = -2..+2 group user/Predrag Knežević (pedjak)
	label-Verified = -1..+1 group user/Predrag Knežević (pedjak)
	rebase = group user/Predrag Knežević (pedjak)
	removeReviewer = group user/Predrag Knežević (pedjak)
	submit = group user/Predrag Knežević (pedjak)
[access "refs/heads/*"]
	read = group user/Predrag Knežević (pedjak)
	create = group user/Predrag Knežević (pedjak)
	push = +force group user/Predrag Knežević (pedjak)
	pushMerge = group user/Predrag Knežević (pedjak)
[access "refs/tags/*"]
	push = +force group user/Predrag Knežević (pedjak)
	pushTag = group user/Predrag Knežević (pedjak)
	pushSignedTag = group user/Predrag Knežević (pedjak)
